.shop{
    &_wrapper{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
    }
}
@media (max-width: 1023px){
    .shop{
        &_wrapper{
            grid-template-columns: 1fr;
        }
    }
}
@media (max-width: 767px) {
    .shop{
        &_wrapper{
            grid-template-columns: 1fr;
        }
    }
}