.profil {
  .wrapper {
    display: flex;
    position: relative;
    .hamburger {
      position: absolute;
      left: 0;
      font-size: 20px;
      display: none;
    }
    .content {
      width: 100%;
      position: relative;
    }
    .ant-menu {
      border-inline-end: none;
    }
    .sidebar {
      width: 300px;
      height: 300px;
      .ant-menu-item {
        &:hover {
          color: #46a358;
        }
      }
      .ant-menu-item-active {
        color: #46a358;
        background-color: white;
        border-radius: 0px;
      }
      .ant-menu-item-selected {
        color: #46a358;
        background-color: #46a35921;
        border-radius: 0px;
        border-left: 2px solid #46a358;
      }
    }
  }
}
@media (max-width: 767px) {
  .profil {
    .wrapper {
      display: flex;
      position: relative;
      .hamburger {
        position: absolute;
        top: -10px;
        left: 25px;
        font-size: 30px;
        display: block;
      }
      .content {
        width: 100%;
        position: relative;
      }
      .sidebar {
        width: 70px;
        &.active {
          width: 50px;
        }
        .ant-menu-item {
          .ant-menu-item-icon{
            width: 2em;
            height: 2em;
            display: flex;
            justify-content: center;
          }
        }
        .ant-menu-item-selected {
          border-left: none;
          padding-left: 10px;
          padding: 0;
        }
      }
    }
  }
}
